.places {
  max-width: 984px;
  margin: 92px 148px;
  display: grid;
  row-gap: 80px;
}

@media screen and (max-width: 1024px) {
  .places {
    max-width: 928px;
    margin: 92px 48px;
  }
}

@media screen and (max-width: 768px) {
  .places {
    row-gap: 73px;
    max-width: 720px;
    margin: 88px 24px 90px;
  }
}

@media screen and (max-width: 650px) {
  .places {
    row-gap: 49px;
    margin: 64px 0px 66px;
  }
}
