.header__links {
  display: flex;
  flex-direction: row;
  align-self: flex-start;

  list-style: none;

  margin: 0;
  margin-top: 46px;
  margin-right: 48px;

  padding: 0;
}

@media screen and (max-width: 768px) {
  .header__links {
    margin-right: 24px;
  }
}
@media screen and (max-width: 760px) {
  .header__links {
    margin-top: 30px;
    margin-right: 16px;
  }
}
