.header__logo {
  width: 176px;
  height: 52px;
  margin-top: 28px;
  margin-bottom: 56px;
  margin-left: 48px;
  background-image: url(../../../images/logo/logo.svg);
}

@media screen and (max-width: 1024px) {
  .header__logo {
    margin-bottom: 48px;
  }
}
@media screen and (max-width: 768px) {
  .header__logo {
    margin-top: 28px;
    margin-left: 24px;
  }
}
@media screen and (max-width: 760px) {
  .header__logo {
    width: 142px;
    height: 42px;
    background-size: cover;
    margin-top: 16px;
    margin-left: 16px;
  }
}
