.lead__title {
  padding: 0;
  margin: 0 auto;
  max-width: 720px;

  text-align: center;

  font-size: 96px;
  line-height: 100px;
  font-weight: 900;
}

@media screen and (max-width: 760px) {
  .lead__title {
    max-width: 320px;
    font-size: 40px;
    line-height: 44px;
  }
}
