.place__paragraph {
  grid-area: paragraph;

  display: flex;
  flex-direction: column;

  font-size: 18px;
  font-weight: normal;
  line-height: 163%;
}

@media screen and (max-width: 600px) {
  .place__paragraph {
    font-size: 16px;
    margin-left: 16px;
    margin-right: 16px;
  }
}
