.footer__copyright {
  margin: 0;
  padding: 0;

  font-weight: normal;
  font-size: 14px;
  line-height: 114%;
}

@media screen and (max-width: 730px) {
  .footer__copyright {
    padding-top: 48px;
  }
}

@media screen and (max-width: 600px) {
  .footer__copyright {
    padding-top: 48px;
    font-size: 14px;
    line-height: 100%;
  }
}
