.intro__text {
  margin: 40px 0 33px 0;
  max-width: 690px;

  font-size: 16px;
  line-height: 26px;
}

@media screen and (max-width: 768px) {
  .intro__text {
    max-width: 720px;
  }
}

@media screen and (max-width: 400px) {
  .intro__text {
    max-width: 288px;
    margin: 40px 0 34px 0;
  }
}
