.intro {
  max-width: 984px;
  padding-top: 92px;
  margin: 0 0 0 148px;

  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 1024px) {
  .intro {
    max-width: 928px;
    margin: 0 48px 0;
  }
}

@media screen and (max-width: 768px) {
  .intro {
    max-width: 720px;
    padding-top: 88px;
    margin: 0 24px 0;
  }
}

@media screen and (max-width: 320px) {
  .intro {
    max-width: 288px;
    padding-top: 64px;
    margin: 0 16px 0;
  }
}
