.lead__subtitle {
  padding: 0;
  margin: 32px 0 0;
  max-width: 640px;

  text-align: center;

  font-size: 30px;
  line-height: 36px;
  font-weight: 400;
}

@media screen and (max-width: 320px) {
  .lead__subtitle {
    margin: 16px 0 0;
    font-size: 16px;
    line-height: 20px;
  }
}
