.footer__links-block {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 600px) {
  .footer__links-block {
    flex-direction: column;
  }
}
