.cover__title {
  font-weight: 900;
  font-size: 72px;
  line-height: 106%;
  margin: 0;
  padding-bottom: 32px;
}

@media screen and (max-width: 600px) {
  .cover__title {
    padding-bottom: 16px;

    max-width: 288px;
    font-size: 32px;
    line-height: 109%;
  }
}
