.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin-left: 48px;
  margin-right: 48px;
  padding-top: 92px;
  padding-bottom: 24px;
}

@media screen and (max-width: 768px) {
  .footer {
    margin-left: 24px;
    margin-right: 24px;
  }
}
@media screen and (max-width: 730px) {
  .footer {
    flex-direction: column;
    margin-left: 16px;
  }
}
