.place__website {
  grid-area: website;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

@media screen and (max-width: 700px) {
  .place__website {
    display: none;
  }
}
